body {
  background-image: url("image - Copy.png");
  background-size: cover;
  overflow: hidden;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#chessboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  td {
    font-size: 0.8em; /* Adjust as needed for smaller screens */
  }
}

#c79 {
  background-image: url("gold.png");
  background-size: cover;
  background-position: center;
}

#c66,
#c78,
#c80,
#c92 {
  background-image: url("red1.png");
  background-size: cover;
  background-position: center;
}

#c65,
#c67,
#c91,
#c93 {
  background-image: url("Bg2.png");
  background-size: cover;
  background-position: center;
}

.white {
  background-image: url("Bg1.png");
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  transition: 0.1s;
  z-index: 9999;
}

.black {
  background-image: url("Bg.png");
  background-size: cover;
  background-position: center;
  transition: 0.1s;
}

.white:hover {
  background-color: #efd6af;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.black:hover {
  background-color: #b58056;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.red-circle {
  width: 15px;
  height: 15px;
  background-color: lightcoral;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.white-circle {
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.green-circle {
  width: 15px;
  height: 15px;
  background-color: lightgreen;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.blue-circle {
  width: 15px;
  height: 15px;
  background-color: lightseagreen;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

/*  */
.timers {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 35%;
  right: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-image: url("back.png");
  background-size: cover;
  background-position: center;
  border: 5px solid transparent;
  border-bottom: none;
  border-top: none;
  backdrop-filter: blur(20px);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .timers {
    /* Styles for mobile view */
    top: 10%;
    left: 90%;
    /* Additional adjustments as needed */
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 967px) {
  .timers {
    /* Styles for mobile view */
    top: 10%;
    left: 90%;
    /* Additional adjustments as needed */
    transform: translate(-50%, -50%);
  }
}

.hourglass {
  width: 0;
  height: 0;
  position: absolute;
  top: 30%;
  left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: rgba(204, 201, 201, 0.65);
  letter-spacing: 1px;
  transform: translate(-50%, -50%);
  box-shadow: inset 10 0 120px 40px rgba(0, 0, 0, 0.8);
}

.markContainer {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 5%;
  right: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-image: url("back.png");
  background-size: cover;
  text-align: center;
  background-position: center;
  border: 5px solid transparent;
  border-bottom: none;
  border-top: none;
  backdrop-filter: blur(20px);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .markContainer {
    /* Styles for mobile view */
    top: 10%;
    left: 50%;
    /* Additional adjustments as needed */
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 967px) {
  .markContainer {
    /* Styles for mobile view */
    top: 10%;
    left: 50%;
    /* Additional adjustments as needed */
    transform: translate(-50%, -50%);
  }
}

.hourglassss {
  width: 0;
  height: 0;
  position: absolute;
  top: 18%;
  left: 18%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgba(204, 201, 201, 0.65);
  letter-spacing: 1px;
  transform: translate(-50%, -50%);
  box-shadow: inset 10 0 120px 40px rgba(0, 0, 0, 0.8);
}

p {
  display: none;
}

#timer {
  font-size: 2.3rem;
  position: absolute;
  top: 38%;
  left: 18%;
  transform: translate(-50%, -50%);
}

/* .sand {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: url("board4.png");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 50px 3px rgba(0, 0, 0, 0.3);
    perspective: 500px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
    animation: sandFall 303s linear infinite;
  } */

@keyframes sandFall {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

.button-container {
  position: absolute;
  top: 65%;
  right: 3.2%;
  text-align: center;
}

.button1 {
  background-image: url("img.png");
  background-size: cover;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 7px;
  color: rgba(204, 201, 201, 0.829);
  font-size: 17px; /* Adjust font size */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 0 10px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease; /* Smooth transition for pressed effect */
}

/* Style when button is pressed */
.button1:active {
  transform: translateY(2px); /* Moves the button down when pressed */
  box-shadow: none; /* Remove shadow when pressed for a 'pressed' look */
}

.button1:hover {
  background-color: #ba986a;
  color: #d5bb98;
}

.score {
  position: absolute;
  top: 35%;
  left: 2.5%;
  width: 150px;
  height: 200px;
  background-image: url("back.png");
  background-repeat: no-repeat;
  border: 5px solid transparent;
  border-bottom: none;
  border-top: none;
  backdrop-filter: blur(20px);
  background-size: cover;
  background-position: center;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0px 54px 55px,
    inset rgba(0, 0, 0, 0.12) 0px -12px 30px,
    inset rgba(0, 0, 0, 0.12) 0px 4px 6px,
    inset rgba(0, 0, 0, 0.17) 0px 12px 13px,
    inset rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .score {
    /* Styles for mobile view */
    top: 10%;
    left: 10%;
    /* Additional adjustments as needed */
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 967px) {
  .score {
    /* Styles for mobile view */
    top: 10%;
    left: 10%;
    /* Additional adjustments as needed */
    transform: translate(-50%, -50%);
  }
}

#crack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  border: 5px solid #8b4513;
  border-radius: 10px;
  background-color: #d2b48c;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.689);
  z-index: 9999;
  display: none;
  transition: 2s;
}

#wao {
  background-image: url("img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 3%;
  left: 3%;
  border: none;
  color: rgba(204, 201, 201, 0.829);
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 50px;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 0 10px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease;
}

.how {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  border: 5px solid #8b4513;
  border-radius: 10px;
  background-color: #d2b48c;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.704);
  z-index: 9999;
  display: none;
  transition: 2s;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
  cursor: pointer;
}

.popup-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d2b48c;
  border: 2px solid #8b4513;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.popup-button:hover {
  background-color: #8b4513;
  color: white;
}

/* #randomImage {
    animation: slideshow 6s infinite; 
  } */

/* Keyframes for the slideshow animation */
/* @keyframes slideshow {
    0% { opacity: none; }
    25% { opacity: 1; }
    50% { opacity: none; }
    75% { opacity: 1; }
    100% { opacity: none; }
  } */

/* -------skdjfh------- */

.rules_head {
  background-color: #333;
}

/* ---------img--------- */

#a1 {
  perspective: 800px; /* Perspective to simulate depth */
  margin: 50px; /* Adjust margin as needed */
}

.tile {
  width: 50px;
  height: 42px;
  padding-top: 5px;
  transform: rotateY(-20deg);
}

.opacity {
  display: none;
  /* opacity: 0; */
}

/*  */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
